.calendar-container {
  margin: 0 auto;
  max-width: 800px;
}

.calendar {
  border: 1px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 70px;
}

.month-name {
  font-size: 32px;
}

.arrow-button {
  font-size: 32px;
  width: 100px;
  height: 100%;
  background-color: lightgray;
}

.dayOfWeek-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.dayOfWeek {
  border: 1px solid black;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
