.day-container {

}

.day {
  font-size: 16px;
  border: 1px solid grey;
  flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    height: 100px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.not-current-month {
  background-color: lightslategray;
}