header {
  background: linear-gradient(110deg, #4465a9 60%, #2b539f 60%);
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation {
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1vw;
}

.navigation ul li a:hover {
  color: lightgray;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
}
